@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --yellow-strong: #ffd35a;
    --yellow-strong-hover: #fdc52b;
    --yellow-soft: #ffe9ad;
    --yellow-pale: #fffdf5;
    --grey: #7a7a7a;
    --brown: #ecd8b1;
    --green: #81b44c;
    --red: #c0564a;

}
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;


}
body {
    background-color: white;
    /* max-width: 450px; */
    padding: 20px;
    align-items: left;
}

p {
    font-size: 12px;
}

a {
    color: var(--yellow-strong);
    text-decoration: underline var(--yellow-strong);
}
h1 {
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}


/* forms */
.error {
    font-size: 12px;
    margin: 0;
    color: var(--red);
}
input {
    /* margin-top: 20px; */
    /* width: 100%; */
    height: 25px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    text-indent: 10px;
}

input:focus {
    border-color: var(--yellow-strong);
}


/* button */

button {
    /* width: 100%; */
    background-color: var(--yellow-strong);
    color: white;
    border: 0;
    border-color: var(--grey);
    border-radius: 5px;
    height: 30px;
    /* margin-top: 20px; */
}

button:hover {
    background-color: var(--yellow-strong-hover);
}

