@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* RESET */

* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
    
    /* font-family: 'Roboto'; */
  }
  
    /* Avoiding problems with images */
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
  }
  
    /* Reseting links except for those found in paragraphs */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  li {
    list-style: none;
  }
  
  p a {
    display: inline;
  }
  
    /* Avoid SVG problems */
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
  
  /* Deactivate default styles for principal tags */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  /* RESET END */



/* ROOT COLORS AND GENERAL STYLES */

:root {
    --yellow-strong: #ffd35a;
    --yellow-strong-hover: #fdc52b;
    --yellow-soft: #ffe9ad;
    --yellow-pale: #fffdf5;
    --grey: #7a7a7a;
    --brown: #ecd8b1;
    --green: #81b44c;
    --red: #c0564a;

}
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--yellow-pale);
    margin: 0;
    padding: 25px;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 12px;
}

a {
    color: var(--yellow-strong);
    text-decoration: underline var(--yellow-strong);
}
h1 {
    font-size: 30px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 30px;
}

h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

h4 {
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* forms */
.error {
    font-size: 12px;
    margin: 0;
    color: var(--red);
}

input {
    height: 30px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    text-indent: 10px;
}

input:focus {
    border-color: var(--yellow-strong);
}

label {
    font-weight: bold;
}

/* button */

button {
    background-color: var(--yellow-strong);
    color: white;
    border: 0;
    border-color: var(--grey);
    border-radius: 5px;
    height: 35px;
}

button:hover {
    background-color: var(--yellow-strong-hover);
}



