.Signin_form {
    display: flex;
    flex-direction: column;
}

.signin-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.signin-form button {
    width: 100%;
}


.Signin_form img {
    max-width: 560px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
