.HangoverForm {
    display: flex;
    flex-direction: column;
  }

#rating-box {
  cursor: pointer;
  padding: 20px;
  margin-top: 20px;
  background-color: var(--yellow-soft);
  border-radius: 10px;
}

#rating-box:hover {
  background-color: #fce39c;
}

.HangoverForm h3 {
  padding-top: 20px;
}
  
.hangover-form {
  padding-top: 20px;
}
  
.form-group {
  display: flex;
  flex-direction: column;
  gap: 20px
}

#comments-input {
    min-height: 80px;
    vertical-align: top;
    resize: vertical;
    overflow-y: auto;
}

.padding-top {
  padding-top: 20px
}

textarea {
  border: 1px solid var(--grey);
  border-radius: 5px;
  padding: 10px;
}

textarea:focus {
  border-color: var(--yellow-strong);
}