/* hangoverform.css */

.HangoverForm {
    display: flex;
    flex-direction: column;
  }
  
  .hangover-form {
    padding-top: 20px;
    /* max-width: 400px; */
  }
  
  .form-group {
   display: flex;
   flex-direction: column;
   gap: 20px
  }
  
  label {
    font-weight: bold;
  }
  
#comments-input {
    min-height: 100px;
}

.padding-top {
  padding-top: 20px
}