
.search {
  display: flex;
  flex-direction: column;
  gap: 10px;
} 
  
input:focus {
    outline: none;
}


#clearBtn {
    cursor: pointer;
  }

.selected-type {
    border: 2px solid var(--yellow-strong);
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
}
  
.selected-type button {
    background-color: var(--yellow-strong);
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
  
.selected-type button:hover {
    background-color: var(--yellow-strong-hover);
}

.numConsumptions {
    background-color: transparent;
    border: 0;
    display: flex;
}

.selected-type-img img {
    height: 50px;
}

.dropdown-option {
    padding: 5px;
    margin-bottom: 1px;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid grey;
}

.dropdown-option:hover {
    background-color: #F3F2EA;
}

  