.CalendarDates button {
    color: black
}

/* tile colors for type of hangovers */
.wild-highlight {
  background-color: var(--red) !important;
  border-radius: 10px;
}

.high-highlight {
  background-color: var(--yellow-strong-hover) !important;
  border-radius: 10px;
}

.mid-highlight {
  background-color: var(--yellow-soft) !important;
  border-radius: 10px;
}

.good-highlight {
  background-color: var(--green) !important;
  border-radius: 10px;
}

.hangover-comments {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
}

#no-hangovers {
  padding-top: 20px;
}

/* importing and changing calendar default styles */
.react-calendar {
    /* max-width: 500px; */
    /* max-width: 100%; */
    background: transparent;
    border: none;
    border-radius: 10px;
    line-height: 1.125em;
    padding-bottom: 20px;
  }
  .react-calendar--doubleView {
    /* width: 700px; */
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    height: 44px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-decoration-line: none;
    font-weight: bold;
    font-size: 0.75em;
    color: rgb(0, 0, 0);
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekNumbers {
    font-weight: bold;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  }
  .react-calendar__month-view__days__day--weekend {
    color: black;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: black;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
  }
  .react-calendar__tile:disabled {
    background-color: #000000;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #c5c5c576;
  }

  .react-calendar__tile--hasActive {
    background: #c5c5c576;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #c5c5c576;
  }
  .react-calendar__tile--active {
    background: #c5c5c576;
    color: rgb(0, 0, 0);
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #c5c5c576;
  }

