.filter-menu {
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

#timeFilter {
    padding: 5px;
    border: 1px solid var(--grey);
    border-radius: 10px;
    margin-bottom: 5px;
    width: 150px; 
    justify-content: flex-end;
}

#filter-info {
    padding-bottom: 10px;
}
