.Signup_form {
    background-color: var(--yellow-pale);
    display: flex;
    flex-direction: column;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.signup-form button {
    width: 100%;
}
