.Signup_form {
    display: flex;
    flex-direction: column;
}

.Signup_form h2 {
    padding-bottom: 10px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup-form button {
    width: 100%;
}

.Signup_form img {
    max-width: 560px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

