.numeric-stats {
    display: flex;
    margin-bottom: 10px;
}

.numeric-stat-box {
    flex: 1;
    padding: 10px;
    /* border: 1px solid #ccc; */
    text-align: center;
  }

.numeric-stats-num {
    font-size: 35px;
    color: var(--yellow-strong)
}

.most-consumed-selection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .consumed-type {
    /* border: 1px solid #ccc; */
    /* padding: 20px; */
    padding-top: 20px;
    text-align: center;
  }

  .consumed-type img {
    height: 60px;
  }

  .consumed-type img:hover {
    transition: 0.2s;
    transform: translateX(5px) rotate(10deg) translateY(2px);
  }
  
  /* .consumed-type img {
    max-width: 100px;
    max-height: 100px;
  }
   */
  .selected-type-data h5 {
    color: var(--yellow-strong);
    text-decoration: underline;
  }

  #underline {
    text-decoration: underline 3px var(--yellow-strong);
  }

  
  .hangover-stats {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .hangover-circle-num {
    position: absolute;
    z-index: 1;
    text-align: center; 
  }

  .hangover-circle-num h4 {
    font-size: 25px;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 2px;
  }
  
  
  .hangover-circle {
    display: flex;
    width: 180px;
    justify-content: center;
    align-items: center;
   
  }

  .selected-type-data {
    padding-top: 20px;
  }