.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0 20px 0;
    overflow: hidden;
    background-color: white;
  }

.navbar-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
}

.navbar-icons a {
    text-decoration: none;
    background-color: transparent;
}
.navbar-icons svg {
    height: 50px;
    max-width: 110px;
}

.navbar-icons svg path {
    transition: fill 0.2s;
}

.navbar-icons a.active svg path{
    fill: var(--yellow-strong)
}
